.list{
    color: #fff;
    width: 300px;
    min-height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    background: rgb(171,114,106);
  background: radial-gradient(circle, rgb(103, 142, 196) 0%, rgba(22, 8, 177, 0.582) 100%);
}

.list p{
    padding: 10px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons{
    margin: 0px 5px;
    font-size: 18px;
    color: rgb(249, 75, 17);
}

.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px; 
}

.list p input:focus{
    outline: none;
}